{% extends "index.html" %}
{% block quienes_somos %}
{% load static %}
<div class="row mt-2 d-flex justify-content-around  ml-2 mr-5">
    <div class="col-7  pt-5 pb-5 pl-5 pr-5" >
        
            <h1 class="display-2 text-primary pt-0 pl-5 pr-5 text-center" style="font-weight:lighter;">CLIENTES <i class="fas fa-building"></i></h1> 
           <hr>    <p class="text-dark pb-5 text-justify  text-dark " style="font-size:25px; font-weight:lighter;">Instituciones Públicas, Instituciones Privadas, Particulares en nuestra sala de ventas, es posible realizar convenios con
                    empresas e instituciones,Online mediante Pedidos Ya y su aplicación disponible en play store y en la pagina de Pedidos Ya. </p>
            <!--<ul class="list-group list-group-flush text-info">
            <li class="list-group-item"> <h3  style="font-weight:lighter">Instituciones Públicas</h3> </li>
            <li class="list-group-item"><h3 style="font-weight:lighter">Instituciones Privadas</h3></li>
                
            <li class="list-group-item"><h3  style="font-weight:lighter">Particulares en nuestra sala de ventas, es posible realizar convenios con
                    empresas e instituciones. </h3></li>
                    
                    <li class="list-group-item">  <h3  style="font-weight:lighter">Online mediante Pedidos Ya y su aplicación disponible en play store y en la pagina de Pedidos Ya.</h3> </li>
           
                </ul>-->
       
    </div>

    




    </div>

<div class="row mt-5  d-flex justify-content-around">
        <div class="col-4 pt-5 pb-5 pl-5 pr-5">
   
                <h1 class="text-secondary display-4" style="font-weight:bold;">Instituciones Públicas</h1><hr >
                <p class="text-dark" style="font-size:25px; font-weight:lighter;">Hospital Base de Valdivia, La Unión, Paillaco, Lanco, Los Lagos, Servicio de
                Salud de Valdivia, Municipalidades de Valdivia, La Unión, Paillaco, Lanco, Los Lagos, Carabineros de
                Chile, Gendarmería, Sename, Seremi de Educación, Gobernación Provincial de Valdivia, Intendencia
                de la Región de los Ríos, entre otras.</p>
                
            </div>
    
     <div class="col-5  ml-5 text-justify bg-light" >
        <h1 class="text-info display-4" style="font-weight:bold;">Instituciones Privadas</h1><hr >
            <p class="text-dark" style="font-size:25px; font-weight:lighter;">Delisur S.A., Constructora Capreva, Central de Restaurantes Aramark, Asenav,
            Sociedad Industrial Kunstmann, Cruz y Cia. Ltda., Instituto Alemán, Casino de Juegos de Valdivia,
            Levaduras Collico, Pesquera Isla del Rey, Hogar de Cristo, Hotelera Diego de Almagro, entre otras.</p>
    </div>
</div>




{% endblock %}