<!DOCTYPE html>
<html lang="es">
        {% load static %}
    <head>
        <title> DISREVAL</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width,initial-scale=1,shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie-edge">
        <link rel="shortcut icon" type="image/png" href="{% static 'img/marcas/favicon.ico' %}"/>
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/yeti/bootstrap.min.css" rel="stylesheet" integrity="sha384-w6tc0TXjTUnYHwVwGgnYyV12wbRoJQo9iMlC2KdkdmVvntGgzT9jvqNEF/uKaF4m" crossorigin="anonymous">
        <link href="{% static 'css/estilos.css' %}" rel="stylesheet"/>
        <link rel="stylesheet" href="{% static 'fontawesome-free-5.7.2-web/css/all.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Julius+Sans+One" rel="stylesheet">
    </head>

    <body class="">
      
      
    <div class="container-fluid">
   
             <header class="row d-flex justify-content-center sticky-top bg-danger " >


  <nav class="col-lg-8 navbar navbar-expand-lg navbar-danger ">
  <a class="navbar-brand text-white"  href="{%url 'Inicio'%}"><h1>DISREVAL</h1></a>  
  <button class="navbar-toggler  text-dark" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="text-white"><i class="fas fa-bars"></i></span>
  </button>
  <div class="collapse navbar-collapse "  id="navbarText">
    <div class="navbar-nav ml-auto a">
      <a class="nav-link text-white" href="{%url 'Inicio'%}"><h5> <i class="fas fa-home "></i> Inicio </h5><span class="sr-only">(current)</span></a>
      <a class="nav-link text-white" href="{%url 'Productos'%}"><h5><i class="fas fa-coins"></i> </i> Productos</h5></a>
      <a class="nav-link text-white" href="{%url 'Clientes'%}"><h5><i class="fas fa-building"></i> Clientes</h5></a>
      <a class="nav-link text-white" href="{%url 'QuienesSomos'%}"><h5><i class="fas fa-book-open"></i> Quienes Somos</h5></a>
      <a class="nav-link text-white" href="{%url 'Contactar'%}"><h5><i class="fas fa-address-book"></i> Contacto</h5></a>
      <a class="nav-link text-white " href="{%url 'Ubicacion'%}"><h5><i class="fas fa-map-marker-alt"> </i> Ubicación</h5></a>
      <a class="nav-link text-white " href="https://www.facebook.com/Sur-Austral-Outlet-Valdivia-365904214244529/"><h5><i class="fas fa-map-marker-alt"> </i> Outlet Sur-Austral</h5></a>
      
    </div>   
    
  </div>
</nav>
</header>
       
            
            
                {% block bienvenida %}
                {% endblock %}
                {% block contactos %}
                {% endblock %}
                {% block quienes_somos %}
                {% endblock %}
                {% block ubicacion %}
                {% endblock %}
                {% block clientes %}
                {% endblock %}
                {% block productos %}
                {% endblock %}
                {% block productosfront %}
                {% endblock %}
                
       


             
             
             
             
             
             
             
             
             <footer class="row   bg-dark  pt-3 pb-3 text-white mt-5 ">
               <div class="col-12  ">
               <h6 class="text-center"><a href="#" class="text-white"><i class="fab fa-facebook-square"></i>                
                      https://www.facebook.com/disrevalltda/</a></h6> 
                 
                 
                
                  <h6 class="text-center">Copyright © 2019 Disreval . Todos los derechos reservados.</h6>
                 </div>
                 
                
                 
             </footer>
             
             
             
             
             
             
          </div>
          
          
          
         
          
          
          
          
          
          
          
          
        <script src="{% static 'js/jquery.min.js' %}"></script>       
        <script src="{% static 'js/lists.js' %}"></script>
        <script src="{% static 'js/productList.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/footer.js' %}"></script>
       
</body>

</html>