{% extends "index.html" %}
{% block bienvenida %}
{% load static %}


<section class="d-flex justify-content-center mb-0 mt-0 pt-0">


    <article class="col-8 bg-white">
 
  <div class="container pt-5">
    <div class="bg-light pt-4 pb-4 pl-4 pr-4 mb-5">
    <h1 class="display-3 text-danger text-center">Quienes Somos <i class="fas fa-book-open"></i></h1>
    <p class="lead text-justify pl-3 pr-3"><i>Disreval</i> es una empresa líder en comercialización y distribución de alimentos, abarrotes, lácteos,
                        productos de limpieza, bebidas, vinos y licores al por mayor y detalle para el sector público y privado,
                        con más de 40 años de historia en la ciudad de Valdivia, Región de Los Ríos.</p>

    </div>
    <div class="d-flex ">
        <div class="col bg-light pt-4 pb-4 pl-4 pr-4 mb-5">
            <h1 class="display-4 text-danger text-center">Visión <i class="far fa-eye"></i></h1>
            <p class="lead text-justify">Ser líderes en distribución y el abastecimiento de productos de consumo masivo en Instituciones Públicas, Empresas Privadas, Comercio Minorista y particulares en la Región de los Ríos.</p>
        </div>

    
        <div class="col mb-3 bg-light pt-4 pb-4 pl-4 pr-4 mb-5 ml-5">
            <h1 class="display-4 text-danger text-center">Misión <i class="fas fa-building"></i></h1>
            <p class="lead pl-0 text-justify">Ser un referente en la Región de los Ríos en la distribución y comercialización de productos y marcas
            de gran prestigio además de ser socios estratégicos de nuestros clientes públicos y privados,
            generando fuertes alianzas a través de un enlace eficaz y eficiente, potenciando la actividad
            económica y desarrollo de la Región.</p>
        </div>

    </div>
    
    <div class="d-flex justify-content-center">

        <div class=" col-8 bg-light pt-4 pb-4 pl-4 pr-4 mb-5 mt-3">
         <h1 class="display-4 text-danger text-center">Valores <i class="fas fa-people-carry"></i></h1>
            <p class="lead">
        
                Espíritu de servicio y calidad para nuestros clientes. <br>
                Construir relaciones de largo plazo con nuestros proveedores y clientes.<br>
                Compromiso y pasión en todo lo que hacemos.<br>
               Respeto por las personas, trabajo en equipo y desarrollo profesional.<br>
               Ser una vitrina para los emprendedores de la región, brindándoles la oportunidad de tener
                        una empresa local que les permita mostrar y comercializar sus productos en el mercado.
                       </p>
         </div>

  </div>

</div>
  </article>

</section>



















{% endblock %}