{% extends "index.html" %}
{% block ubicacion %}
{% load static %}
<section class="d-flex justify-content-center mb-5">


  <article class="col-sm-12 col-md-8 mt-4">
    <h1 class="text-center display-3 text-dark ">Ubicación Disreval</h1><hr> <p class="text-center text-dark">
      Distribuidora Regional Valdivia Ltda <br>
      Barros Arana 558 , Valdivia <br>
      Teléfono 56 63 214824
    </p>
  </article>
  

  
</section>

<div class="row mt-2">
    <div class="col-12 bg-white d-flex justify-content-center ">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3064.2626750564627!2d-73.23075813471156!3d-39.82352798136143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9615ef3cfe19d345%3A0x64a8f22636e46cbf!2sDistribuidora+Regional+Valdivia+Ltda.!5e0!3m2!1ses-419!2scl!4v1549234028599" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

</div>
{% endblock %}